################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagementSystem/appsettings.Development.json
/EmployeeManagementSystem/.vs
/EmployeeManagementSystem/bin/Debug/net8.0
/EmployeeManagementSystem/obj
