@model EmployeeManagementSystem.Models.Auth.LoginViewModel;
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMS | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/auth/auth.css" asp-append-version="true" />
    
</head>
<body>
    <div class="container">
        <div class="right-panel">
            <h2>Login</h2>
            <p class="subtitle">Login to your account.</p>
            <form asp-action="Login">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input id="email" asp-for="Username" type="email" placeholder="E-mail Address">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input id="email" asp-for="Password" type="password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <input asp-for="RememberMe" type="checkbox" id="remember" />
                    <label for="remember">Remember me</label>
                </div>
                <button type="submit">Sign In</button>
                <p class="small-text">
                    Don't have an account yet?
                    <a asp-action="Register" asp-controller="Auth">Join KRIS today.</a>
                </p>

            </form>
        </div>
        <div class="left-panel">
            <h1>Manage all <span style="color:#FFC107;">Employees</span> from the comfort of your home.</h1>
        </div>
    </div>
</body>
</html>

